.hero {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.parallax_bg {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.filter {
    position: absolute;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero_content {
    position: relative;
    z-index: 10;
    text-align: center;
}

.hero_title {
    font-size: 3.75rem;
    font-weight: 800;
    color: #fff;
    line-height: 1;
    letter-spacing: -0.025em;
}

@media (min-width: 768px) {
    .hero_title {
        font-size: 6rem;
    }
}

.meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--title);
}

.meta_content_author {
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    background-color: pink;
    color: #1f1f1f;
}

.author_name {
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.author_role {
    margin: 0;
    font-size: 0.875rem;
}

.meta_info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.meta_content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.meta_date {
    font-size: 0.875rem;
}

.featured_image_container {
    display: flex;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin: 32px 0;
    border-radius: 16px;
    background-color: red;
}

.featured_image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    max-width: 900px;
    margin: 2em auto;
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--text);
}

.post_text p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.post_text br {
    line-height: 1.6;
}

.share_container {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    background-color: var(--fg);
    padding: 16px 24px;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.share_title {
    font-weight: bold;
}

.share_links_container {
    display: flex;
    align-items: center;
    gap: 24px;
}