.hero {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.parallax_bg {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.filter {
    position: absolute;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero_content {
    position: relative;
    z-index: 10;
    text-align: center;
}

.hero_title {
    font-size: 3.75rem;
    font-weight: 800;
    color: #fff;
    line-height: 1;
    letter-spacing: -0.025em;
}

@media (min-width: 768px) {
    .hero_title {
        font-size: 6rem;
    }
}

.content {
    max-width: 900px;
    margin: 2em auto;
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--text);
}