.main_content {
    display: flex;
    overflow: hidden;
    background-color: var(--black);
}

.video {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    position: relative;
    object-position: center;
}

.filter {
    position: absolute;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.text_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.title_first,
.title_second {
    color: #fff !important;
    text-align: center;
    font-size: 90px !important;
    line-height: 1.1;
    margin: 0 2%;
}

.title_second {
    font-family: Playfair-display-italic !important;
}

.subtitle {
    text-align: center;
    color: #e5e7eb !important;
    margin: 20px 2%;

}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #2D4B33;
    padding: 8px 20px;
    border-radius: 999999px;
}

@media (max-width: 1024px) {

    .title_first,
    .title_second {
        font-size: 40px;
    }
}