.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 20px auto;
    background-color: var(--bg);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 999999px;
    padding: 20px;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.logo_container {
    display: flex;
    align-items: center;
    width: 250px;
    height: 100%;
    z-index: 10;
}

.logo {
    width: 40px;
    height: 40px;
    fill: var(--title);
    animation: text-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

.link_content {
    flex-grow: 1;
}

.link_content,
.svg_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
}

.link {
    color: var(--title);
    text-decoration: none;
    transition: .5s;
    padding: 5px 15px;
    border-radius: 999999px;
    text-wrap: nowrap;
}

.svg_content {
    justify-content: flex-end;
    width: 250px;
    gap: 30px;
}

.yt_link {
    display: flex;
}

.svg_yt_text {
    fill: var(--title);
    animation: text-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

.svg_path {
    stroke: var(--title);
    animation: svg-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

.hamburgers {
    display: none;
}

.link_content_mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .link_content {
        display: none;
    }

    .svg_content {
        display: none;
    }

    .hamburgers {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .hamburger {
        cursor: pointer;
        position: relative;
    }

    .hamburger_input {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        border-radius: 40px;
        transition:
            transform 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02),
            opacity 0.3s ease,
            background-color 0s;
        background-color: var(--title);
    }

    .hamburger_input:checked~.bar:nth-child(2) {
        transform: translateY(9.5px) rotate(45deg);
    }

    .hamburger_input:checked~.bar:nth-child(3) {
        opacity: 0;
    }

    .hamburger_input:checked~.bar:nth-child(4) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .modal {
        width: 100%;
        height: 0;
        top: 20px;
        left: 0;
        position: absolute;
        transition: 1s;
        border-radius: 20px;
        background-color: var(--bg);
        overflow: hidden;
    }

    .modal_active {
        position: absolute;
        top: 20px;
        left: 0;
        height: 400px;
        width: 100%;
        display: flex;
        background-color: var(--bg);
        border-radius: 20px;
        transition: 1s;
        overflow: hidden;
    }

    .link_content_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
        padding: 30px 0;
        height: fit-content;
        width: 100%;
    }

    .link_mobile {
        font-size: 24px;
        color: var(--title);
    }
}