.main,
.main_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    gap: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    animation: background-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 20px;
}

.main_mobile {
    display: none;
}

.logo_container,
.logo_container_mobile {
    display: flex;
    align-items: center;
    width: 250px;
    height: 100%;
}

.logo,
.logo_mobile {
    width: 40px;
    height: 40px;
    fill: var(--nav-white);
    animation: text-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

.logo_mobile_dark {
    color: var(--nav-black);
}

.link_content {
    flex-grow: 1;
}

.link_content,
.svg_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
}

.svg_content {
    justify-content: flex-end;
    width: 250px;
    gap: 30px;
}

.yt_link {
    display: flex;
}

.link {
    color: var(--nav-white);
    text-decoration: none;
    transition: .5s;
    padding: 5px 15px;
    border-radius: 999999px;
    text-wrap: nowrap;

    animation: text-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

/* .link:hover {
    color: #8fdcc2;
} */

.svg_yt_text {
    fill: var(--nav-white);
    animation: text-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

.svg_path {
    stroke: var(--nav-white);
    animation: svg-scroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 50px;
}

.hamburgers {
    display: none;
}

.svg_link {
    display: flex;
}

@keyframes background-scroll {
    to {
        background-color: var(--nav-bg);
        /* backdrop-filter: blur(20px) saturate(1.7);
        -webkit-backdrop-filter: blur(20px) saturate(1.7); */
    }
}

@keyframes text-scroll {
    to {
        color: var(--nav-black);
        fill: var(--nav-black);
    }
}

@keyframes svg-scroll {
    to {
        stroke: var(--nav-black);
    }
}

@keyframes burger-scroll {
    to {
        background-color: var(--nav-black);
    }
}


@media (max-width: 1024px) {
    .main {
        display: none;
    }

    .main_mobile {
        display: flex;
    }

    .main_mobile_white {
        background-color: var(--bg);
    }

    /* .logo_mobile_dark {
        fill: var(--black);
    } */

    .hamburgers {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        cursor: pointer;
        padding-bottom: 3px;
        position: relative;
    }

    .hamburger_input {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        border-radius: 40px;
        transition:
            transform 0.3s cubic-bezier(0.37, -1.11, 0.79, 2.02),
            opacity 0.3s ease,
            background-color 0s;
        background-color: #fff;
        animation: burger-scroll linear both;
        animation-timeline: scroll(root);
        animation-range: 0 50px;
    }

    .bar_dark {
        background-color: var(--nav-black);
    }

    .hamburger_input:checked~.bar:nth-child(2) {
        transform: translateY(9.5px) rotate(45deg);
    }

    .hamburger_input:checked~.bar:nth-child(3) {
        opacity: 0;
    }

    .hamburger_input:checked~.bar:nth-child(4) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .modal_container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 60px;
        background-color: var(--bg);
        transition: .3s;
    }

    .link_content_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
    }

    .link_mobile {
        font-size: 24px;
        color: var(--title);
    }

    .svg_content_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .button_theme_mobile {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--black);
        margin: 0;
        padding: 0;
    }

    .yt_svg_mobile {
        color: var(--black);
    }
}