@font-face {
  font-family: "Jakarta-sans";
  src: url('./fonts/plus-jakarta-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: "Jakarta-sans-bold";
  src: url('./fonts/plus-jakarta-sans-bold.woff2') format('woff2');
}

@font-face {
  font-family: "Playfair-display-italic";
  src: url('./fonts/playfair-display-italic.woff2') format('woff2');
}

:root {
  font-family: Jakarta-sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --web-bg: #fff;
  --web-fg: #f6f8f6;

  --web-black: #000;
  --web-white: #fff;
  --web-primary: #0D2C24;
  --web-secondary: #7FD791;
  --web-green-two: #025a4e31;
  --web-green-three: #025a4e18;
  --web-text: #494949;
  --web-badge-bg: #dddfdd;
  --web-badge-text: #2D4B33;
  --web-title: #1f1f1f;
  --web-border: #e7e7e7;
  --web-shadow-sm: 0 1px 3px #0000000d;
}

[data-theme=dark] {
  --web-bg: #121212;
  --web-fg: #1a1a1a;
  --web-black: #000;
  --web-white: #fff;
  --web-primary: #61896f;
  --web-secondary: #7FD791;
  --web-green-two: #2d4b333d;
  --web-green-three: #025a4e18;
  --web-text: #a7a5a5;
  --web-badge-bg: #00000049;
  --web-badge-text: #7FD791;
  --web-title: #fdfdfd;
  --web-border: #313131;
  --web-shadow-sm: 0 1px 3px #ffffff0a;
}


.web-layout {
  margin: 0;
  padding: 0;
  background-color: var(--web-bg);
}

.web-layout button {
  font-family: Jakarta-sans, sans-serif;
}

.web-layout h1,
.web-layout h2,
.web-layout h3 {
  margin: 0;
  font-family: Jakarta-sans-bold, sans-serif;
}

.web-layout a {
  text-decoration: none;
}