.main {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background {
    position: absolute;
    inset: 0;
    background: url('https://images.unsplash.com/photo-1511884642898-4c92249e20b6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat fixed;
}

.filter {
    position: absolute;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
}

.title {
    font-size: 3.75rem;
    font-weight: 800;
    color: #fff !important;
    line-height: 1;
    letter-spacing: -0.025em;
}


.subtitle {
    line-height: 1;
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    opacity: .9;
    color: var(--web-white);
}

@media (min-width: 768px) {
    .title {
        font-size: 6rem;
    }
}