.stories_section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    color: var(--title);
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}

.stories_container {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.stories_container::-webkit-scrollbar {
    display: none;
}

.story_item {
    flex: 0 0 auto;
    min-width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.story_ring {
    position: relative;
    padding: 3px;
    border-radius: 9999px;
    background: #36ff2f
        /* background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888); */
}

.story_ring.opacity-50 {
    opacity: 0.5;
}

.story_avatar {
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    border: 2px solid var(--bg);
    background-size: cover;
    background-position: center;
}

.story_label {
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.story_label.muted {
    font-weight: 500;
    color: #6b7280;
}